/* * root */
:root {
    /* * fullname */

    /* * BACKGROUND */
    --primary-background : skyblue;
    
    /* * TEXT COLOR */
    --primary-text-color : wheat;

    /* * FONT_SIZE */
    --xl-text : 3rem ;
    --l-text : 2rem ;
    --m-text : 1rem ;
    --s-text : .8rem ;

}